<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>709296573385-tfmh9vpt899hjq67kg4q35dbh1b35qva.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.709296573385-tfmh9vpt899hjq67kg4q35dbh1b35qva</string>
	<key>API_KEY</key>
	<string>AIzaSyBStNBnSaVkcsmnE46rVeG1CMG-lOdwKrs</string>
	<key>GCM_SENDER_ID</key>
	<string>709296573385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alaxhenry.WallBoy</string>
	<key>PROJECT_ID</key>
	<string>wallboy-d0eab</string>
	<key>STORAGE_BUCKET</key>
	<string>wallboy-d0eab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:709296573385:ios:e220dbadd086619bcef618</string>
</dict>
</plist>